@import url(fonts.css);
@import url(variables.css);

html,
body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* **** GLOBAL CLASSES AND ATTRIBUTES **** */

p {
  font-family: var(--Lexend);
  color: var(--text-light);
}

a {
  text-decoration: none;
  color: var(--text-gray);
}

ul {
  list-style-type: none;
}

h1 {
  font-family: var(--Lexend);
  font-size: 2.5em;
}

h2 {
  font-family: var(--Lexend);
}

h3 {
  font-family: var(--Abel);
  font-size: 1.5em;
}

span {
  font-family: var(--Abel);
}


.text-gray {
  color: var(--text-gray);
}

.custom-container {
  margin: 0 5vw;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

button.btn {
  border: none;
  border-radius: 2em;
  padding: 0.8em 2.5em;
  font-size: 1.1em;
  font-family: var(--Livvic);
  cursor: pointer;
}

main {
  margin-top: 5em;
  min-height: 60vh;
}

/* **** END OF GLOBAL CLASSES/ATTRIBUTES **** */

/* **** MAIN INDEX SECTION **** */

.site-title {
  background: url("../assets/Background-image.png");
  background-size: cover;
  height: 110vh;
  display: flex;
  justify-content: center;
}

.site-title .site-background {
  text-align: center;
  color: var(--white);
}

.site-title h1,
.site-title h3 {
  margin: 0.3em;
}

.site-title .btn:hover {
  background: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}

section .blog .custom-container {
  position: relative;
}

.site-content {
  display:grid;
  grid-template-columns: 70% 30%;
}

.post-content {
  width:100%;
  position: relative;
}

.site-content .post-content .post-image, .site-content .post-content .post-title {
  padding: 1em 2em;
  position: relative;
} 

.site-content .post-content .post-image .post-info {
  background: var(--sky);
  padding: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 3em;
  width: 50%;
  display:flex;
  justify-content: center;
}

.site-content .post-content .post-image > div {
  overflow: hidden;
}

.site-content .post-content .post-image img {
  width: 100%;
  transition: all 1s ease;
}

.site-content .post-content .post-image img:hover {
  transform: scale(1.3)
}

.site-content .post-content .post-image .post-info span {
  margin: 0 0.5em;
}

.post-content .post-title a {
  font-family: var(--Anton);
  font-size: 1.5em;
}

.site-content .post-content .post-title .post-btn {
  border-radius:0;
  padding: 0.7em 1.5em;
  background: var(--sky);
}

.site-content .pagination {
  justify-content: center;
  color:var(--light-purple);
  margin: 4em 0;
}

.site-content .pagination a {
  padding: 0.6em 0.9em;
  border-radius: 2em;
  margin: 0.3em;
  font-family: var(--Lexend);
}

.site-content .pagination .pages {
  background:var(--light-purple);
  color: white;
}
/* **** END OF SECTION **** */


@media (max-width: 1200px){
  .site-content .post-content .post-image .post-info {
    left: 2em !important;
    bottom: 1em !important;
    border-radius: 0 !important;
    margin: 0 !important;
    width: 75% !important;
  }
}

@media (max-width: 768px) {
  .site-content {
    grid-template-columns: 100%;
  }
}

@media (max-width:576px) {
  .site-content .post-content .post-image .post-info {
    display: none;
  }
}

/* **** Translator Section **** */

/* .translator-image-container {
  max-height: 25vh;
} */

/* **** End of Translator Section **** */